BasedOnStyle: LLVM
Language: ObjC
ColumnLimit: 80
PointerAlignment: Left
BreakBeforeBraces: Attach
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<gtest/'
    Priority:        1
  - Regex:           '^<[a-z_]+>'
    Priority:        2
  - Regex:           '^"simple_tuner/'
    Priority:        3
  - Regex:           '.*'
    Priority:        4

ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: true
ObjCBinPackProtocolList: Auto
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: Align
